In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import requests
import datetime
from scipy import stats

In [12]:

df_topics = pd.read_csv('data/topics_linked.csv')
df_topics.head(10)

,index,Geography.Regions.Asia.Central Asia,Geography.Regions.Europe.Eastern Europe,History and Society.Military and warfare,Culture.Media.Television,History and Society.Education,Culture.Media.Books,Geography.Regions.Africa.Africa*,Culture.Visual arts.Architecture,Culture.Biography.Women,...,Geography.Regions.Asia.West Asia,STEM.Chemistry,Geography.Regions.Europe.Northern Europe,Culture.Media.Video games,Geography.Regions.Asia.Southeast Asia,Culture.Media.Entertainment,Culture.Media.Music,Geography.Regions.Asia.Asia*,Geography.Regions.Asia.North Asia,qid
0,Rosmalen,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q2001490
1,Commelinales,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q290349
2,Transport_in_Honduras,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q1130638
3,QuakeC,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q2122062
4,Food_writing,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q5465542
5,Transport_in_San_Marino,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q951626
6,Demographics_of_Jamaica,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q3044281
7,John_Radcliffe_(physician),False,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,False,Q922508
8,"Chapter_11,_Title_11,_United_States_Code",False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q1062835
9,Politics_of_Malta,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q1154870

In [13]:
column_names = list(df_topics.columns.values)
print(column_names)

['index', 'Geography.Regions.Asia.Central Asia', 'Geography.Regions.Europe.Eastern Europe', 'History and Society.Military and warfare', 'Culture.Media.Television', 'History and Society.Education', 'Culture.Media.Books', 'Geography.Regions.Africa.Africa*', 'Culture.Visual arts.Architecture', 'Culture.Biography.Women', 'Geography.Regions.Americas.North America', 'STEM.STEM*', 'Culture.Performing arts', 'Culture.Literature', 'History and Society.Politics and government', 'Geography.Regions.Africa.Northern Africa', 'STEM.Earth and environment', 'Geography.Regions.Africa.Central Africa', 'STEM.Medicine & Health', 'STEM.Libraries & Information', 'Geography.Regions.Europe.Europe*', 'Geography.Regions.Europe.Western Europe', 'Culture.Media.Radio', 'STEM.Space', 'Culture.Visual arts.Comics and Anime', 'STEM.Technology', 'Culture.Internet culture', 'Culture.Media.Software', 'Geography.Regions.Asia.East Asia', 'Geography.Regions.Europe.Southern Europe', 'STEM.Biology', 'Culture.Food and drink', 'History and Society.Business and economics', 'Culture.Visual arts.Fashion', 'Geography.Regions.Americas.Central America', 'Geography.Geographical', 'Geography.Regions.Oceania', 'STEM.Physics', 'Culture.Media.Films', 'Geography.Regions.Asia.South Asia', 'History and Society.Transportation', 'History and Society.History', 'Geography.Regions.Africa.Western Africa', 'Culture.Media.Media*', 'Geography.Regions.Americas.South America', 'Culture.Linguistics', 'STEM.Computing', 'Culture.Biography.Biography*', 'Culture.Philosophy and religion', 'Culture.Sports', 'Geography.Regions.Africa.Southern Africa', 'Culture.Visual arts.Visual arts*', 'Geography.Regions.Africa.Eastern Africa', 'History and Society.Society', 'STEM.Engineering', 'STEM.Mathematics', 'Geography.Regions.Asia.West Asia', 'STEM.Chemistry', 'Geography.Regions.Europe.Northern Europe', 'Culture.Media.Video games', 'Geography.Regions.Asia.Southeast Asia', 'Culture.Media.Entertainment', 'Culture.Media.Music', 'Geography.Regions.Asia.Asia*', 'Geography.Regions.Asia.North Asia', 'qid']

In [4]:

df_intervention = pd.read_csv('data/interventions.csv')
df_intervention.head(10)

,lang,1st case,1st death,School closure,Public events banned,Lockdown,Mobility,Normalcy
0,fr,2020-01-24,2020-02-14,2020-03-14,2020-03-13,2020-03-17,2020-03-16,2020-07-02
1,da,2020-02-27,2020-03-12,2020-03-13,2020-03-12,2020-03-18,2020-03-11,2020-06-05
2,de,2020-01-27,2020-03-09,2020-03-14,2020-03-22,2020-03-22,2020-03-16,2020-07-10
3,it,2020-01-31,2020-02-22,2020-03-05,2020-03-09,2020-03-11,2020-03-11,2020-06-26
4,nl,2020-02-27,2020-03-06,2020-03-11,2020-03-24,NaN,2020-03-16,2020-05-29
5,no,2020-02-26,2020-02-26,2020-03-13,2020-03-12,2020-03-24,2020-03-11,2020-06-04
6,sr,2020-03-06,2020-03-20,2020-03-15,2020-03-21,2020-03-21,2020-03-16,2020-05-02
7,sv,2020-01-31,2020-03-11,2020-03-18,2020-03-12,NaN,2020-03-11,2020-06-05
8,ko,2020-01-20,2020-02-20,2020-02-23,NaN,NaN,2020-02-25,2020-04-15
9,ca,2020-01-31,2020-02-13,2020-03-12,2020-03-08,2020-03-14,2020-03-16,NaN

In [6]:
df_mobility = pd.read_csv('data/Global_Mobility_Report.csv')
df_mobility.head(10)

/var/folders/yd/qcqcvgvx64j3l0qqnk__2cpm0000gn/T/ipykernel_23653/2558378803.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mobility = pd.read_csv('data/Global_Mobility_Report.csv')

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
5,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-20,-2.0,1.0,6.0,1.0,1.0,1.0
6,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-21,-3.0,2.0,6.0,0.0,-1.0,1.0
7,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-22,-2.0,2.0,4.0,-2.0,3.0,1.0
8,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-23,-1.0,3.0,3.0,-1.0,4.0,1.0
9,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-24,-3.0,0.0,5.0,-1.0,3.0,1.0

In [24]:
import json
import pickle
import gzip
def load_aggregated(aggregated_path):
    if aggregated_path.endswith(".gz"):
        with gzip.open(aggregated_path, "rb") as f:
            agg = json.loads(f.read().decode())
    else:
        with open(aggregated_path, "rb") as f:
            agg = pickle.load(f)

    for k1, i1 in agg.items():
        for k2, i2 in agg[k1].items():
            if type(agg[k1][k2]) == pd.Series:
                agg[k1][k2].index = pd.to_datetime(agg[k1][k2].index, errors="ignore")
            elif (type(agg[k1][k2]) == dict) and len(list(agg[k1][k2].keys())) > 100:
                agg[k1][k2] = pd.Series(agg[k1][k2])
                agg[k1][k2].index = pd.to_datetime(agg[k1][k2].index, errors="ignore")
            elif type(agg[k1][k2]) == dict:
                for k3, i3 in agg[k1][k2].items():
                    if type(agg[k1][k2][k3]) == pd.Series:
                        agg[k1][k2][k3].index = pd.to_datetime(agg[k1][k2][k3].index, errors="ignore")
                    elif (type(agg[k1][k2][k3]) == dict) and len(list(agg[k1][k2][k3].keys())) > 100:
                        agg[k1][k2][k3] = pd.Series(agg[k1][k2][k3])
                        agg[k1][k2][k3].index = pd.to_datetime(agg[k1][k2][k3].index, errors="ignore")
                    elif type(agg[k1][k2][k3]) == dict:
                        for k4, i4 in agg[k1][k2][k3].items():
                            if type(agg[k1][k2][k3][k4]) == pd.Series:
                                agg[k1][k2][k3][k4].index = pd.to_datetime(agg[k1][k2][k3][k4].index, errors="ignore")
                            elif (type(agg[k1][k2][k3][k4]) == dict) and len(list(agg[k1][k2][k3][k4].keys())) > 100:
                                agg[k1][k2][k3][k4] = pd.Series(agg[k1][k2][k3][k4])
                                agg[k1][k2][k3][k4].index = pd.to_datetime(agg[k1][k2][k3][k4].index, errors="ignore")
    return agg

timeseries = load_aggregated('data/aggregated_timeseries.json.gz')

In [33]:
df_timeseries= pd.DataFrame.from_dict(timeseries)
df_timeseries.head(10)

,ja.m,it,da.m,tr,no.m,en,sr,tr.m,en.m,no,...,ko.m,fi.m,sr.m,ja,fr,fi,ca,it.m,sv.m,ko
len,1197788,1594039,256451,346007,516838,6047509,632128,345790,6045654,531478,...,489181,480638,396063,1197856,2195949,481854,642031,1588312,1959446,490314
sum,2018-01-01 22328288 2018-01-02 22278953 ...,2018-01-01 3338750 2018-01-02 5428428 20...,2018-01-01 765123 2018-01-02 443384 2018...,2018-01-01 407629 2018-01-02 426791 2018...,2018-01-01 715031 2018-01-02 536506 2018...,2018-01-01 86763830 2018-01-02 11224534...,2018-01-01 192409 2018-01-02 253653 2018...,2018-01-01 493684 2018-01-02 483443 20...,2018-01-01 135822131 2018-01-02 12708735...,2018-01-01 224417 2018-01-02 374771 2018...,...,2018-01-01 1484496 2018-01-02 1248031 20...,2018-01-01 1319053 2018-01-02 1094280 20...,2018-01-01 451383 2018-01-02 462824 2018...,2018-01-01 7828155 2018-01-02 8759385 ...,2018-01-01 6441009 2018-01-02 9079323 ...,2018-01-01 523135 2018-01-02 648344 2018...,2018-01-01 111910 2018-01-02 198405 2018...,2018-01-01 12856884 2018-01-02 12887390 ...,2018-01-01 2383474 2018-01-02 1873096 20...,2018-01-01 819174 2018-01-02 959239 20...
covid,"{'len': 30, 'sum': [55, 55, 51, 46, 70, 77, 73...","{'len': 33, 'sum': [50, 103, 130, 112, 119, 75...","{'len': 4, 'sum': [0, 2, 1, 0, 0, 2, 0, 1, 5, ...","{'len': 64, 'sum': [1, 3, 6, 1, 0, 4, 1, 13, 6...","{'len': 10, 'sum': [7, 5, 2, 2, 2, 0, 3, 2, 7,...","{'len': 306, 'sum': [575, 1081, 1265, 1167, 10...","{'len': 9, 'sum': [6, 13, 11, 6, 13, 6, 11, 9,...","{'len': 64, 'sum': [3, 2, 2, 9, 2, 2, 1, 4, 6,...","{'len': 306, 'sum': [911, 1006, 919, 1026, 978...","{'len': 10, 'sum': [2, 4, 3, 1, 4, 0, 1, 5, 5,...",...,"{'len': 113, 'sum': [6, 5, 8, 8, 10, 2, 7, 7, ...","{'len': 9, 'sum': [0, 0, 8, 0, 0, 2, 0, 3, 1, ...","{'len': 9, 'sum': [11, 20, 15, 30, 33, 17, 31,...","{'len': 30, 'sum': [26, 42, 53, 114, 134, 54, ...","{'len': 16, 'sum': [62, 91, 109, 107, 113, 81,...","{'len': 9, 'sum': [2, 2, 2, 3, 0, 3, 2, 0, 2, ...","{'len': 49, 'sum': [6, 6, 9, 10, 4, 7, 15, 13,...","{'len': 33, 'sum': [139, 187, 162, 180, 127, 1...","{'len': 8, 'sum': [19, 12, 13, 14, 11, 15, 12,...","{'len': 113, 'sum': [3, 20, 20, 16, 20, 8, 1, ..."
topics,{'Culture.Biography.Biography*': {'len': 14904...,{'Culture.Biography.Biography*': {'len': 29427...,{'Culture.Biography.Biography*': {'len': 57720...,{'Culture.Biography.Biography*': {'len': 70443...,{'Culture.Biography.Biography*': {'len': 11603...,{'Culture.Biography.Biography*': {'len': 14038...,{'Culture.Biography.Biography*': {'len': 37718...,{'Culture.Biography.Biography*': {'len': 70434...,{'Culture.Biography.Biography*': {'len': 14038...,{'Culture.Biography.Biography*': {'len': 11804...,...,{'Culture.Biography.Biography*': {'len': 75406...,{'Culture.Biography.Biography*': {'len': 10422...,{'Culture.Biography.Biography*': {'len': 37580...,{'Culture.Biography.Biography*': {'len': 14904...,{'Culture.Biography.Biography*': {'len': 38258...,{'Culture.Biography.Biography*': {'len': 10444...,{'Culture.Biography.Biography*': {'len': 10175...,{'Culture.Biography.Biography*': {'len': 29422...,{'Culture.Biography.Biography*': {'len': 14668...,{'Culture.Biography.Biography*': {'len': 75498...

In [38]:
timeseries['ja.m']['covid']
timeseries['ja.m']["sum"].index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25',
               '2020-07-26', '2020-07-27', '2020-07-28', '2020-07-29',
               '2020-07-30', '2020-07-31'],
              dtype='datetime64[ns]', length=943, freq=None)

In [39]:
df_timeseries = list(df_timeseries.columns.values)
print(df_timeseries)   # Missing tr(turkey) and ca(catalan)

['ja.m', 'it', 'da.m', 'tr', 'no.m', 'en', 'sr', 'tr.m', 'en.m', 'no', 'sv', 'nl.m', 'nl', 'da', 'de', 'fr.m', 'ca.m', 'de.m', 'ko.m', 'fi.m', 'sr.m', 'ja', 'fr', 'fi', 'ca', 'it.m', 'sv.m', 'ko']

In [37]:
timeseries['ja']['covid']

{'len': 30,
 'sum': 2018-01-01      26
 2018-01-02      42
 2018-01-03      53
 2018-01-04     114
 2018-01-05     134
               ...
 2020-07-27    6232
 2020-07-28    5669
 2020-07-29    6011
 2020-07-30    6131
 2020-07-31    5882
 Length: 943, dtype: int64,
 'percent': 2018-01-01    0.000003
 2018-01-02    0.000005
 2018-01-03    0.000005
 2018-01-04    0.000010
 2018-01-05    0.000011
                 ...
 2020-07-27    0.000483
 2020-07-28    0.000459
 2020-07-29    0.000486
 2020-07-30    0.000522
 2020-07-31    0.000529
 Length: 943, dtype: float64}

In [15]:
df_apple_mobility = pd.read_csv('data/applemobilitytrends-2020-04-20.csv') 
df_apple_mobility.head(10)

,geo_type,region,transportation_type,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,...,2020-04-11,2020-04-12,2020-04-13,2020-04-14,2020-04-15,2020-04-16,2020-04-17,2020-04-18,2020-04-19,2020-04-20
0,country/region,Albania,driving,100,95.30,101.43,97.20,103.55,112.67,104.83,...,25.47,24.89,32.64,31.43,30.67,30.00,29.26,22.94,24.55,31.51
1,country/region,Albania,walking,100,100.68,98.93,98.46,100.85,100.13,82.13,...,27.63,29.59,35.52,38.08,35.48,39.15,34.58,27.76,27.93,36.72
2,country/region,Argentina,driving,100,97.07,102.45,111.21,118.45,124.01,95.44,...,19.40,12.89,21.10,22.29,23.55,24.40,27.17,23.19,14.54,26.67
3,country/region,Argentina,walking,100,95.11,101.37,112.67,116.72,114.14,84.54,...,15.75,10.45,16.35,16.66,17.42,18.18,18.80,17.03,10.59,18.44
4,country/region,Australia,driving,100,102.98,104.21,108.63,109.08,89.00,99.35,...,26.95,31.72,53.14,55.91,56.56,58.77,47.51,36.90,53.34,56.93
5,country/region,Australia,transit,100,101.78,100.64,99.58,98.34,86.97,99.87,...,13.94,16.51,21.67,21.58,21.98,21.84,20.13,17.64,21.93,22.41
6,country/region,Australia,walking,100,101.31,101.82,104.52,113.73,100.24,98.57,...,31.33,37.05,45.74,47.10,46.30,47.84,45.82,38.71,43.30,47.28
7,country/region,Austria,driving,100,101.14,104.24,112.21,117.23,117.22,105.17,...,36.78,35.06,42.33,51.14,53.88,56.02,54.07,45.63,45.82,58.87
8,country/region,Austria,walking,100,101.55,105.59,112.24,123.36,131.05,89.93,...,38.80,39.48,33.92,35.47,41.26,45.58,45.03,43.04,32.29,44.20
9,country/region,Belgium,driving,100,101.19,107.49,107.67,117.38,119.32,102.68,...,47.49,37.88,37.20,46.52,49.42,51.74,50.94,41.76,44.35,50.04